# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Model files
#*.pth
*.pkl

# Data
data/
*.csv
*.jpg
#*.png

# Docker
docker-compose.override.yml

# Env
.env
